.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--background-dark); /* Dark background from CSS variables */
  color: var(--text-color); /* Text color from CSS variables */
  position: sticky; /* Sticks to the top of the viewport */
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
  transition: background-color 0.3s ease-in-out; /* Smooth background transition */
}

.nav-container.scrolled {
  background: var(--bg-light-opacity); /* Slightly transparent background after scrolling */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3); /* Stronger shadow effect */
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.logo-img {
  height: 50px; /* Adjust the size of the image */
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: invert(1);
}

.logo-text {
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links {
  display: flex;
  column-gap: 2rem;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: var(--hover-primary-color);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary {
  background: var(--primary-gradient);
  color: var(--text-color);
  border: none;
}

.btn-primary:hover {
  background: #ff4b2b;
  transform: scale(1.05);
}

.btn-secondary {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
  background: var(--primary-gradient);
  color: var(--text-color);
  transform: scale(1.05);
}

/* Hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
  color: var(--text-color);
}

.nav-links.open {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: var(--background-dark);
  text-align: center;
  padding: 1rem 0;
}

.nav-links.open a {
  display: block;
  margin: 0.5rem 0;
}

@media (max-width: 1115px) {
  .nav-container {
    .buttons {
      .btn-primary {
        display: none;
      }
    }
  }
}

@media (max-width: 987px) {
  .nav-container {
    .nav-links {
      column-gap: 1rem;
    }
  }
}

/* Responsive Design */
@media (max-width: 962px) {
  .logo h3 {
    font-size: 1.2rem;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    height: 100vh;
  }

  .hamburger {
    display: block;
  }

  .buttons .btn-primary {
    display: none;
  }

  .buttons .btn-secondary {
    background: var(--primary-gradient);
    color: var(--text-color);
    border: none;
  }
}

@media (max-width:550px) {
  .nav-container{

    .logo-text{
      display: none;
    }
  }
}